.outerDiv{
    box-shadow: 0px 0px 10px 0px rgba(0, 33, 55, .08);
    border: 2px solid rgb(0, 150, 25,.1);
    border-radius: 20px;
    height: auto;
    padding: 2vw;
}
.imageDiv{
    align-items: center;
    text-align: center;
}
.image{
    /* width: 20%; */
    height: 150px;
    width: 300px;
    border-radius: 10px;
    align-items: center;
}
.head{
    font-weight: bold;
}
.btnDiv{
    padding: 3vw;
}
#btn{
        margin: 3px;
        padding: 0;
        background-color: #42C8B7;
        padding: 3px;
        width: 100px;
        font-size: 16px;
        font-weight: 600;
        color: white !important;
        font-family: Montserrat;
        border: none;
}
.back{
     padding-left: 3vw; 
}
.backDiv{
    display: flex;
    justify-content: right;
}