
.outerDiv{
    height: auto;
}
.innerDiv{
    box-shadow: 5px 5px 5px;
}
#h1{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    color: white;
}
#form{
    padding-right: 2vw;
}
#buttonDiv{
    font-size: 16px;
    margin-top: 15vw;
    margin-bottom: 3vw;
}
#signin{
    text-decoration: none;
    display: flex;
    justify-content: right;
}