
.modal-ku {
    width: 80%;
    margin: auto;
}

#closebutoon {
    text-align: end;
}

.close {
    display: flex;
    justify-content: right;
}

#firstside {
    background-color: #42C8B7;
    height: auto;
}

#container {
    box-shadow: 2px solid black;
}

#h2 {
    color: white;
    font-size: 2rem;

}

#password,
#input {
    border: none;
    border-bottom: 0.5px solid black;
    border-bottom-width: 100%;
    width: 99%;
    outline: none;
    position: relative;
    color: black;
}



input::placeholder {
    font-size: 16px;
}

#forgotpassword {
    text-align: justify;
    text-align-last: right;
    text-decoration: none;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: right;
}

#checkboxcontaint {
    padding-left: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-left: 20px;
}
.fp,
#termcondition {
    text-decoration: none;
    color: #42C8B7;
    font-size: 13px;
}


input[type=checkbox] {
    accent-color: #42c8b7;
    cursor: pointer;
    width: 17px;
    height: 17px;
    position: absolute;
    margin-top:3px ;
}

#signinBtn {
    width: 100%;
    height: 42px;
    font-weight: 100;
    font-size: 20px;
    font-weight: 600;
    font-size: 17px;
    text-size-adjust: 100%;
    cursor: pointer;
    text-transform: capitalize;
    font-family: Montserrat;
    padding-bottom: 2vw;
    background-color: #42C8B7;
    color: white;

}
.signup{
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
    margin-left: -10px;
}
.signuplink{
    color: #42C8B7;
    text-decoration: none;
}

.linkHover:hover{
    color: #038473;
}
.div1{
    height: 10vh;
    padding:  20px 0;
    position: relative;
    
}
.label1{

    color: rgb(45, 45, 45);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4375em;
    font-family: Montserrat;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 133%;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(0px, -1.5px) scale(0.75);

}


.input1:hover{  
    border-bottom: 2px solid rgb(158, 157, 157) !important;
}
.input1:focus{  
    border-bottom: 2px solid #42C8B7 !important;
}
.input1:focus ~ .label1{
   color: #42C8B7;
}
.input1{
    position: relative;
    font-size: 16px;
}

#firstside{
    border-radius: 16px 0px 0 16px;
}
.secondside{ 
    border-radius: 0 16px 0 16px;
    padding-right: 30px;
}
.r1,
.modal1{

   border-radius: 16px;
}
.modal1{
    width: 100%;
    padding: 0;

}
.r1{
    margin: 0;
    width: 100%;
}
#closebutoon{
    margin: 8px -14px 0px 0px; 
}



@media screen and (max-width: 767px) {

    .secondside{
        position: absolute;
        background-color: white;
        bottom: 0px;
        border-radius: 17px;
        padding-bottom: 25px;
    }
    #firstside{
        border-radius: 17px;
    }
}